@import "tailwindcss";

body {
  font-family: 'Quicksand', sans-serif;
}
.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: 90;
}