@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
}
.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: 90;
}

.marquee {
  width: max-content;
  animation: marquee 15s linear infinite;
}

.name {
  color: white;
  font-size: 6rem;
  font-family: cursive;
  margin: 0 2rem;
  white-space: nowrap;
  gap: 10px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
